@charset "UTF-8";

html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

#areaLabel {
	width: 100%;
	height: 40px;
	font-size: 14px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	border-bottom: 1px solid #aaa;
}
#areaLabel span {
	width: 80px;
}
#areaLabel input {
	flex: 1;
	border: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#addressSelectWrapper {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#addressSelect {
    z-index: 999;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    background-color: #fff;
}
#addressSelect .tip {
    position: relative;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border-bottom: 1px solid #dedede;
}
#addressSelect .tip h3 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #666;
}
#addressSelect .tip #cancel {
    position: absolute;
    top: 0;
    right: 0;
    width: 39px;
    height: 39px;
    color: #666;
    border: none;
    background: transparent url("images/cancel.png") no-repeat center;
    cursor: pointer;
}
#addressSelect #address {
    width: 100%;
    height: 100%;
}
/*被选中的地址*/
.selected-address {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ededed;
}
.selected-address:before {
    content: "";
    display: table;
}
.selected-address:after {
    content: "";
    display: table;
    clear: both;
}
.selected-address li {
    float: left;
    height: 40px;
    line-height: 39px;
    text-align: center;
    width: 25%;
    padding-right: .3em;
    padding-left: .3em;
    color: #333;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.selected-address li.active {
    border-bottom-color: #3da5fe;
    color: #3da5fe;
}
/*各级地址列表*/
.address-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*加载中*/
}
.address-content ul {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 8px;
    padding-bottom: 88px;
}
.address-content ul li {
    height: 36px;
    line-height: 36px;
    padding-left: 1em;
    font-size: 13px;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    cursor: pointer;
    /*&.active span {
                  display: inline-block;
                  vertical-align: middle;
                  width: 20px;
                  height: 20px;
                  margin-left: 15px;
                  background: transparent url("../img/selected.png") no-repeat center / 20px 20px;
              }*/
}
.address-content ul li.active {
    background-color: #3da5ef;
    color: #fff;
}
.address-content .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 20px 60px;
    background: rgba(0, 0, 0, 0.5) url("images/loading.gif") no-repeat left 20px center / 30px 30px;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
}